
@{
    ViewBag.Title = "Index";
}

<h2>Página de gerencia de entidades</h2>

<div>
    @Html.ActionLink("Gerenciar Quarto", "Index", "QuartoCRUD")
</div>
<div>
    @Html.ActionLink("Gerenciar Clientes", "Index", "ClienteCRUD")
</div>
<div>
    @Html.ActionLink("Gerenciar Funcionarios", "Index", "FuncionarioCRUD")
</div>
<div>
    @Html.ActionLink("Gerenciar Checkins", "Index", "CheckinCRUD")
</div>
<div>
    @Html.ActionLink("Gerenciar Cidades", "Index", "CidadeCRUD")
</div>
<div>
    @Html.ActionLink("Gerenciar Status-Quarto", "Index", "StatusQuartoCRUD")
</div>

