@model IEnumerable<Hotel.Models.poco.Checkin>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ChData)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChPrevisao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChSaida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChValor)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ChData)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChPrevisao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChSaida)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChValor)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ChId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ChId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ChId })
        </td>
    </tr>
}

</table>
