@model IEnumerable<Hotel.Models.poco.Quarto>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.QuarNumero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuarDescricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuarValorDia)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.QuarNumero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuarDescricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuarValorDia)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.QuarId }) |
            @Html.ActionLink("Details", "Details", new { id=item.QuarId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.QuarId })
        </td>
    </tr>
}

</table>
